   <include href="header.htm" />
   <hr>
   
	  <h3>My Stuff by Archer Mallick</h3>
	  <p>This is a work in progress website I'm making to keep track of my things, it's a work in progress and there are many things still to come</p>
	  
	  <p><b>Features to come</b></p>
	  <ol> 
	  <li>Category + Subcategory pages to work</li> 
	  <li>Adding new items</li> 
	  <li>Editing Items</li> 
	  <li>A Tagging system for items</li>
	  <li>Ordering of categories / subcategories</li>
	  <li>Images for items</li>
	  <li>Functional search</li>
	  <li>Better login errors</li>
	  </ol>
	  
   
   </div>
   </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>