<html lang="en"><head>

    <title>Login</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://archerm.com/mystuff/ui/css/login.css" rel="stylesheet">

  </head>

  <body class="buffer-pinterest">

    <div class="container">

      <form class="form-signin" method="POST" action="auth">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label>Username</label>
        <input name="username" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
        <button name="subBtn" class="btn btn-lg btn-primary btn-block" type="submit" value="in">Sign in</button>
		<br>
        <button name="subBtn" class="btn btn-sm btn-danger center-block" type="submit" value="up">Sign Up</button>
      </form>
	  
	  <p>User: Archer <br>
	  Pass: pewpew</p>

    </div> 

</body>
</html>